{% extends "base.html" %}
{% block menu %}
            <td><a href="main">Main</a></td>
            <td><a href="journal">Journal</a></td>
            <td><a href="zones" style="background:yellow">Zones</a></td>
            <td><a href="trains">Trains</a></td>
            <td><a href="statuses">Statuses</a></td>
{% endblock %}
{% block middle %}
<!-- zones -->
<table style="padding:10px">
	<tr style="height:450px">
		<td style="width:1228px">
			Exact zone
		</td>
	</tr>
</table>
<table>
	<tr>
		<td style="border:None;width:700px">
		</td>
		<td style="width:300px;height:70px">
			Back
		</td>
	</tr>
</table>
{%endblock %}
