{% extends "base.html" %}
{% block menu %}
            <td><a href="main">Main</a></td>
            <td><a href="journal">Journal</a></td>
            <td><a href="zones" style="background:yellow">Zones</a></td>
            <td><a href="trains">Trains</a></td>
            <td><a href="statuses">Statuses</a></td>
{% endblock %}
{% block middle %}
<!-- zones -->
<table>
    <tr style="height:500px">
   		<td style="width:320px;vertical-align:top">
			<p style="border:None">Signaling</p>
			<table>
				{% autoescape off %}
				{{ signaling_table }}
				{% endautoescape %}
				<!-- <tr style="height:80px"><td id="flashingCell">Blinking cell</td></tr> -->
			</table>
   		</td>
   		<td style="width:320px;vertical-align:top">
			<p style="border:None">Notification</p>
			<table>
				{% autoescape off %}
				{{ notification_table }}
				{% endautoescape %}
			</table>
   		</td>
   		<td style="width:320px;vertical-align:top">
			<p style="border:None">Firefighting</p>
			<table>
				{% autoescape off %}
				{{ firefighting_table }}
				{% endautoescape %}
			</table>
   		</td>
   		<td style="width:320px;vertical-align:top">
			<p style="border:None">Smoke removal</p>
			<table>
				{% autoescape off %}
				{{ smoke_removal_table }}
				{% endautoescape %}
			</table>
   		</td>
	</tr>
</table>
<table>
	<tr>
		<td style="border:None;width:100px;height:70px"></td>
		<td><a style="width:300px;height:60px" href="exact_zone">Exact zone</a></td>
		<td style="border:None;width:300px;height:70px"></td>
		<td style="width:300px;height:70px">
			Reset
		</td>
	</tr>
</table>
{%endblock %}
